<!DOCTYPE html>
<html>
<head><title>Meridian Credit Union - Core Teller System</title>{% include "_style.html" %}</head>
<body style="margin:0;">
<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
  <tr><td colspan="2" height="50">
    <iframe name="banner" src="/app/banner" width="100%" height="50" frameborder="0" scrolling="no"></iframe>
  </td></tr>
  <tr>
    <td width="220" valign="top">
      <iframe name="nav" src="/app/nav" width="220" height="600" frameborder="0"></iframe>
    </td>
    <td valign="top">
      <iframe name="main" src="/app/main" width="100%" height="600" frameborder="0"></iframe>
    </td>
  </tr>
</table>
</body>
</html>
